<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoL Draft Helper</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <header>
        <h1>LoL Draft Helper</h1>
    </header>

    <main>
        <section id="draft-stage">
            <h2>Bans</h2>
            <div class="autocomplete">
                <label for="blue-ban1">Blue 1. Ban:</label>
                <input type="text" id="blue-ban1" class="autocomplete-input" autocomplete="off">
            </div>
            <div class="autocomplete">
                <label for="blue-ban2">Blue 2. Ban:</label>
                <input type="text" id="blue-ban2" class="autocomplete-input" autocomplete="off">
            </div>
            <div class="autocomplete">
                <label for="blue-ban3">Blue 3. Ban:</label>
                <input type="text" id="blue-ban3" class="autocomplete-input" autocomplete="off">
            </div>
            <div class="autocomplete">
                <label for="red-ban1">Red 1. Ban:</label>
                <input type="text" id="red-ban1" class="autocomplete-input" autocomplete="off">
            </div>
            <div class="autocomplete">
                <label for="red-ban2">Red 2. Ban:</label>
                <input type="text" id="red-ban2" class="autocomplete-input" autocomplete="off">
            </div>
            <div class="autocomplete">
                <label for="red-ban3">Red 3. Ban:</label>
                <input type="text" id="red-ban3" class="autocomplete-input" autocomplete="off">
            </div>
            <button onclick="startDraft()">Start Draft</button>
        </section>
        
        <section id="selection-stage" style="display:none;">
            <h2>Selections</h2>
            <div id="selection-prompts"></div>
            <div id="selection-status" class="flex-container"></div>
            <button id="next-selection-button">Next Selection</button>
        </section>
        
        <section id="summary-stage" style="display:none;">
            <h2>Summary</h2>
            <div id="selected-champions"></div>
            <button onclick="resetDraft()">Reset</button>
        </section>
    </main>

    <footer>
        <p>mail: fatihgazi.goc.contact@gmail.com ---- dc: fatih8709</p>
        <p>&copy; 2025 LoL Draft Helper ---- This project is not supported by Riot Games</p>
    </footer>
</body>
</html>
