/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6f6e6e;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1 {
    margin: 0;
}

section {
    background-color: rgb(135, 135, 135);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.loading {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.flex-item {
    flex: 1 1 45%;
    margin: 10px;
}

.blue-background {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.red-background {
    background-color: #DC3545;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
}

/* Autocomplete konteyneri */
.autocomplete {
    position: relative;
    display: block;
}

/* Öneri listesinin stili */
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    /* Genişliği giriş alanı ile aynı olması sağlanıyor */
}

.autocomplete-items div {
    padding: 15px 15px;       /* Daha geniş ve yüksek bir kutu için padding artırıldı */
    font-size: 20px;          /* Yazı boyutu büyütüldü */
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
    display: flex;            /* İçerikleri yatayda hizalamak için */
    align-items: center;      /* Görseller ve metin dikeyde ortalanır */
}
.autocomplete-champion-img {
    width: 40px;              /* Görsel boyutunu artırdık */
    height: 40px;
    margin-right: 10px;
        
}
.autocomplete-items div:hover, .autocomplete-active {
    background-color: #4c5ddb; 
}
.champion-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.champion-img {
    width: 50px; 
    height: auto;
    margin-right: 10px;
}

.mode-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

/* Mod seçim butonlarının temel stilleri */
.mode-button {
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Üzerine gelindiğinde (hover) uygulanacak efekt */
.mode-button:hover {
    background-color: #359ce0;
    border-color: #999;
    transform: scale(1.05);
}
#fearless-picked-champions-list {
    display: flex;
    flex-direction: row;
    gap: 5px; /* Aralarındaki boşluk */
}